.form-weight__fieldset {
  display: flex;
  gap: 7px;
  margin: 0;
  padding: 8px;
  border: none;
}

.form-weight__inputs {
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  padding: 0 20px;
  border-radius: 5px;
  border-color: transparent;
  background-color: white;
  color: #337eca;
}

.form-weight__inputs::-webkit-outer-spin-button,
.form-weight__inputs::-webkit-inner-spin-button,
.form-weight__inputs::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  opacity: 0;
}

.form-weight__inputs {
  -webkit-appearance: none;
}

.form-weight__inputs[type="number"] {
  -moz-appearance: textfield;
}

.form-weight__inputs::placeholder {
  color: #297fd0;
}

.form-weight__label-date {
  position: relative;
}

.form-weight__date {
  width: 130px;
  height: 40px;
  padding: 0 0 0 8px;
  text-align: left;
}

.form-weight__calendar-icon {
  position: absolute;
  width: 15px;
  top: 10px;
  right: 8px;
  pointer-events: none;
}

.form-weight__label-pounds {
  position: relative;
}

.form-weight__pounds {
  width: 80px;
  height: 40px;
}

.form-weight__pounds-abbreviation {
  font-size: 14px;
  color: #297fd0;
  position: absolute;
  top: 20px;
  right: 4px;
  pointer-events: none;
}

.form-weight__label-ounces {
  position: relative;
}

.form-weight__ounces {
  width: 80px;
  height: 40px;
}

.form-weight__ounces-abbreviation {
  font-size: 14px;
  color: #297fd0;
  position: absolute;
  top: 20px;
  right: 4px;
  pointer-events: none;
}

.form-weight__button {
  width: 70px;
  border-radius: 5px;
  border-color: transparent;
  color: #e6f0fd;
  background-color: #297fd0;
  transition: background-color linear 0.3s;
}

.form-weight__button:hover {
  background-color: #2b99ff;
}

@media screen and (max-width: 640px) {
  .form-weight__fieldset {
    justify-content: center;
  }
  .form-weight__inputs {
    height: 35px;
    font-size: 12px;
  }

  .form-weight__date {
    width: 113px;
    font-size: 12px;
  }

  .form-weight__calendar-icon {
    right: 12px;
  }

  .form-weight__pounds {
    width: 16.5vw;
    padding: 15px;
  }

  .form-weight__pounds-abbreviation {
    top: 21px;
    font-size: 10px;
  }

  .form-weight__ounces {
    width: 16.5vw;
    padding: 15px;
  }

  .form-weight__ounces-abbreviation {
    top: 21px;
    font-size: 10px;
  }

  .form-weight__button {
    width: 65px;
    font-size: 12px;
  }
}
