.header__form {
  position: absolute;
  top: 65.81px;
  right: 12px;
  border-radius: 10px;
  height: 0;
  width: 0;
  background-color: #a9cbff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all linear 0.2s;
}

.header__form_show {
  width: 397px;
  height: 56px;
}

@media screen and (max-width: 640px) {
  .header__form {
    position: relative;
    width: 100vw;
    height: 0;
    border-radius: 0;
    top: 0;
    left: 0;
    z-index: 0;
    transform: translateY(-200%);
  }

  .header__form_show {
    transform: translateY(0);
    height: 51px;
  }
}
