.header__form {
  display: block;
  position: absolute;
  top: 65.81px;
  right: 12px;
  border-radius: 10px;
  width: 402px;
  height: 56px;
  background-color: #a9cbff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header__form_closed {
  height: 0;
  width: 0;
}

@media screen and (max-width: 640px) {
  .header__form {
    position: static;
    width: 100vw;
    height: 51px;
    border-radius: 0;
  }
}
