.info-column__title {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 15px;
}

.info-column__value {
  font-size: 36px;
  font-weight: bold;
  color: #0d5297;
  margin: 0;
}

.info-column_percentage {
  margin: 0 auto;
  text-align: center;
}
