.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #2b71b7;
  z-index: 1;
}

.nav__logo {
  width: 160px;
  margin: 13px 0 13px 13px;
}

.nav__button {
  display: flex;
  align-items: center;
  gap: 6px;
  height: auto;
  background-color: #297fd0;
  border-color: transparent;
  padding: 0 13px;
  font-weight: 600;
  font-size: 14px;
  color: #e6f0fd;
  transition: background-color linear 0.3s;
}

.span {
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .nav__button {
    display: none;
  }

  .nav__logo {
    width: 130px;
    margin: 13px auto;
  }
}

@media (hover: hover) and (pointer: fine) {
  .nav__button:hover {
    cursor: pointer;
    background-color: #2b99ff;
  }
}
