.track-table {
  width: 100%;
  border-spacing: 0;
}

.track-table__headers {
  background-color: #95c0ff;
}

.track-table__header-item {
  text-align: center;
  color: #0d5297;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}

.track-table__rows:nth-child(odd) {
  background-color: #c8dcec;
}

.track-table__row-item {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 6px;
}

.track-table__btn {
  background-color: #2b71b7;
  border-color: transparent;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 400;
  color: #e6f0fd;
}
