.track-table {
  width: 100%;
  border-spacing: 0;
}

.track-table__headers {
  background-color: #95c0ff;
}

.track-table__header-item {
  text-align: center;
  color: #0d5297;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}

.track-table__rows:nth-child(odd) {
  background-color: #c8dcec;
}

.track-table__rows:last-of-type > .track-table__row-item:first-child {
  border-bottom-left-radius: 15px;
}

.track-table__rows:last-of-type > .track-table__row-item:last-child {
  border-bottom-right-radius: 15px;
}

.track-table__row-item {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 6px;
}

.track-table__btn {
  background-color: #2b71b7;
  border-color: transparent;
  border-radius: 4px;
  width: 97.11px;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 400;
  color: #e6f0fd;
}

@media screen and (max-width: 640px) {
  .track-table__header-item {
    font-size: 12px;
    padding: 10px 6px;
  }

  .track-table__row-item {
    font-size: 12px;
    padding: 8px 2px;
  }

  .track-table__btn {
    font-size: 12px;
    padding: 3px 2px;
    width: 76.86px;
  }

  .track-table__rows:last-of-type > .track-table__row-item:first-child {
    border-bottom-left-radius: 0;
  }
  .track-table__rows:last-of-type > .track-table__row-item:last-child {
    border-bottom-right-radius: 0;
  }
}
